#sidebar.sidebar-offcanvas
  .col-md-12
    h3=__("Projects")
    ul.nav.nav-pills.nav-stacked
      li
        a(href="/" + global.settings.dbName + "/partners/" + "LPM")="LPM 2017"
      li
        a(href="/" + global.settings.dbName + "/partners/" + "LCF")="LCF 2017"
